APP_KEY=base64:Xfc9sekJv/di0VVVKrK/6bkBQrGqr8yk4To7bFaBXq8=
DB_DATABASE=grocery_erp
DB_USERNAME=root
DB_PASSWORD=
API_FORWARD_PORT=8008
FRONTEND_FORWARD_PORT=3001
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:3000,localhost:3001,127.0.0.1:3001
